{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  {% include "partials/seo_meta.html" %}
  {% block structured_data %}{% endblock %}

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Inter:wght@400;500;600&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/variables.css' %}">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/components.css' %}">
  {% block extra_css %}{% endblock %}

  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
  <link rel="apple-touch-icon" href="{% static 'img/apple-touch-icon.png' %}">
</head>
<body>
  <a class="skip-link" href="#main-content">{% trans "Перейти до змісту" %}</a>

  {% include "partials/header.html" %}

  <main id="main-content">
    {% block content %}{% endblock %}
  </main>

  {% include "partials/footer.html" %}

  <script src="https://unpkg.com/htmx.org@2.0.3" crossorigin="anonymous"></script>
  <script src="{% static 'js/main.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
